<div class="container">
  <div class="form">
    <%= form_with(model: @post, method: :post, local: false) do |f| %>
    <%= f.text_area :content %>
    <%= f.submit "投稿" %>
    <% end %>
  </div>
  <div id="posts">
    <%= render @posts %>
  </div>
</div>
