// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form{
  margin: 40px auto;
  margin-bottom: 20px;
  position: relative;
  max-width: 1000px;
}
.form::after{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #026873;
  bottom: -15px;
}
.form textarea{
  resize: none;
  width: 80%;
  max-width: 500px;
  height: 100px;

}
.form form{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.form form input{
  height: 30px;
  margin-left: 10px;
}
#posts{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
.post{
  border-bottom: solid 2px #026873;
  position: relative;
  background-color: #eee;
  padding: 0 5px 10px 5px;
}

.post-info{
  color: #555;
}
.post-body{
  position: relative;
  padding: 10px 0;
}
.post-body::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: #555;
  top: 0;
}

.pagination{
  background-color: #eee;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  max-width: 800px;
  border: 1px solid #767676;
}
.pagination li{
  margin: 5px;
}
.pagination li a{
  padding: 10px;
}
